<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script src="https://unpkg.com/feather-icons"></script>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <a href="/" class="navbar-brand"
        ><img
          src="img/CASI.png"
          alt="CASI-logos"
          style="margin-left: 25%"
          width="50px"
      /></a>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav" style="margin-left: 10%">
          <li class="nav-item active">
            <a href="/topup" class="nav-link"
              ><i data-feather="dollar-sign"></i>Top-Up
            </a>
          </li>
        </ul>
        <ul class="navbar-nav" style="margin-left: 10%">
          <li class="nav-item active">
            <a href="/withdrawal" class="nav-link"
              ><i data-feather="arrow-down-left"></i>Tarik Saldo
            </a>
          </li>
        </ul>
        <ul class="navbar-nav" style="margin-left: 10%">
          <li class="nav-item active">
            <a href="/transfer" class="nav-link"
              ><i data-feather="repeat"></i>&nbsp;Transfer
            </a>
          </li>
        </ul>
        <ul class="navbar-nav" style="margin-left: 10%">
          <li class="nav-item active">
            <a href="/redeemcode" class="nav-link"
              ><i data-feather="gift"></i>&nbsp;RedeemCode
            </a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              ><small>Login<i data-feather="log-in"></i></small
            ></a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <% if(locals.isLoggedIn) { %>
              <a href="/user/logout" class="dropdown-item">Log out</a>
              <% } else { %>
              <a href="/user/register" class="dropdown-item">Register</a>
              <a href="/user/signin" class="dropdown-item">Sign-in</a>
              <% } %>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <br /><br /><br /><br />
  </body>
</html>
