<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CASI || Homepage</title>
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script src="https://unpkg.com/feather-icons"></script>
    <style>
      .card-body {
        color: black;
      }
      a {
        text-decoration: none !important;
      }
    </style>
  </head>
  <body>
    <%- include('../layouts/navbar.ejs'); %>
    <div>
      <h1 style="margin-left: 2%">FAQ</h1>
      <br />
      <ul>
        <li><b>Apa itu CASI ?</b></li>
        <p style="font-style: italic">
          CASI merupakan website yang memudahkan para pengguna dalam hal
          transaksi di semua merchant bertanda CASI
        </p>
        <li><b>Apakah Saya bisa Upgrade ke level premium ?</b></li>
        <p style="font-style: italic">
          Ya bisa , untuk lebih detailnya bisa dilihat di laman premium
        </p>
        <li><b>Bagaimana cara melakukan Top up saldo CASI ?</b></li>
        <p style="font-style: italic">
          Isi ulang (Top Up) saldo CASI dapat melalui Transfer Bank yang bekerja
          sama dengan CASI.
        </p>
        <li><b>Apa yang terjadi apabila akun/handphone saya hilang ?</b></li>
        <p style="font-style: italic">
          Anda bisa menghubungi call center CASI di 1 200 343 (Senin-Minggu,
          07.00-22.00 WIB) atau email cs@CASI.id Tim kami akan segera membantu
          anda.
        </p>
        <li><b>Penawaran menarik apa yang saya bisa didapatkan ?</b></li>
        <p style="font-style: italic">
          Anda bisa mendapatkan berbagai penawaran menarik dari merchant -
          merchant kami dan anda bisa mendapatkan penawaran menarik langsung
          dari website kami.
        </p>
        <li><b>Apakah saya bisa transfer saldo CASI ke pengguna lainnya</b></li>
        <p style="font-style: italic">Ya,bisa.</p>
        <li><b>apakah saya bisa mengaksesnya di aplikasi mobile ?</b></li>
        <P style="font-style: italic">
          Tidak bisa, sekarang ini CASI hanya tersedia dalam website
        </P>
      </ul>
      <br />
    </div>
    <%- include('../layouts/footer.ejs'); %>
  </body>
</html>
